body {
    background-color: #fcc101;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    color: white;
    justify-content: end;
    padding: 20px;
}

nav a {
    color: white;
    font-weight: bold;
}

