@font-face {
    font-family: 'AdamDrawn';
    src: url(/fonts/adamfont-webfont.woff) format('woff');
}

:root {
    --bg-color: #00c2c7;
    --text-color: #ffffff;
    --input-bg: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--bg-color);
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0px;
}

.navegador {
    display: flex;
    font-family: 'Arial', sans-serif;
    justify-content: end;
    padding: 20px;
}

.navegador a {
    color: white;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
}

.navegador a::after {
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    margin-left: 10px;
}

.postal-container {
    display: flex;
    border: 3px solid white;
    margin: 30px auto;
    max-width: 800px;
    min-height: 300px;
    padding: 40px;
    position: relative;
}

.postal-body {
    display: flex;
    gap: 40px;
    width: 90%;
}

.info-side {
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    flex: 1;
    padding-right: 20px;
}

.form-side {
    flex: 1.5;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    line-height: 0.9;
    margin: 0;
    text-transform: uppercase;
}

p,
label {
    font-size: 1.1rem;
    font-weight: 300;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 5px;
}

input {
    background: var(--input-bg);
    border: 2px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    font-family: inherit;
    padding: 12px;
    width: 50%;
}

textarea {
    background: var(--input-bg);
    border: 2px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    font-family: inherit;
    padding: 12px;
    width: 100%;
}

input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

textarea {
    height: 150px;
    resize: none;
}

.send-btn {
    align-items: center;
    background-color: #555;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    float: right;
    gap: 10px;
    padding: 10px 30px;
}

.send-btn:hover {
    background-color: #444;
}

.stamp {
    align-items: center;
    border: 4px dotted white;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    height: 85px;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 70px;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.footer-container {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    transition: background 0.3s ease;
}

.footer-copy {
    display: none;
}

.footer-copy.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 39%;
    top: 8px;
    color: #fff;
    font-family: 'AdamDrawn', sans-serif;
}

.adam-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/footer/adam.png);
    padding: 20px 18px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -20%;
    transition: background-position 0.3s ease;
    order: -1;
}

.adam-icon:hover {
    background-position: 0% 100%;
    transition: background-position 0.3s ease;
    cursor: pointer;
}

.info-icon {
    background-image: url(/img/footer/info.png);
    padding: 20px 18px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -20%;
    transition: background-position 0.3s ease;
    margin: auto 0;
}

.info-icon:hover {
    background-position: 0% 100%;
    transition: background-position 0.3s ease;
    cursor: pointer;
}

.info-icon.active {
    display: none;
}

#info {
    display: none;
}

#info.active {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    transition: all 0.3s ease;
}

.footer-container.active {
    display: flex;
    align-items: center;
    background-image: url(/img/footer/bg.png);
    height: 60px;
    transition: all 0.3s ease;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/footer/close.png);
    padding: 20px 18px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -20%;
    transition: background-position 0.3s ease;
}

.close-btn:hover {
    background-position: 0% 120%;
    transition: background-position 0.3s ease;
    cursor: pointer;
}

.email-btn,
.linkedin-btn,
.twitter-btn,
.facebook-btn,
.behance-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 18px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -20%;
    transition: background-position 0.3s ease;
}

.email-btn:hover,
.linkedin-btn:hover,
.twitter-btn:hover,
.facebook-btn:hover,
.behance-btn:hover {
    background-position: 0% 100%;
    transition: background-position 0.3s ease;
    cursor: pointer;
}

.email-btn {
    background-image: url(/img/footer/email.png);
}

.linkedin-btn {
    background-image: url(/img/footer/linked-in.png);
}

.twitter-btn {
    background-image: url(/img/footer/twitter.png);
}

.facebook-btn {
    background-image: url(/img/footer/facebook.png);
}

.behance-btn {
    background-image: url(/img/footer/behance.png);
}