@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Open+Sans:wght@300;400&display=swap');

:root {
    --bg-color: #00c2c7; 
    --text-color: #ffffff;
    --input-bg: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--bg-color);
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0px;
}

.navegador {
    display: flex;
    font-family: 'Arial', sans-serif;
    justify-content: end;
    padding: 20px;
}

.navegador a {
    color: white;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
}

.navegador a::after {
    color: rgba(255,255,255,0.5);
    font-weight: bold;
    margin-left: 10px;
}

.postal-container {
    display: flex;
    border: 3px solid white;
    margin: 30px auto; 
    max-width: 800px;
    min-height: 300px;
    padding: 10px;
    position: relative;
}

.postal-body {
    display: flex;
    gap: 40px;
    width: 90%;
}

.info-side {
    border-right: 2px solid rgba(255,255,255,0.5);
    flex: 1;
    padding-right: 20px;
}

.form-side {
    flex: 1.5;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    line-height: 0.9;
    margin: 0;
    text-transform: uppercase;
}

p, label {
    font-size: 1.1rem;
    font-weight: 300;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 5px;
}

input {
    background: var(--input-bg);
    border: 2px solid white;
    border-radius: 15px; 
    box-sizing: border-box;
    color: white;
    font-family: inherit;
    padding: 12px;
    width: 50%;
}

textarea {
    background: var(--input-bg);
    border: 2px solid white;
    border-radius: 15px; 
    box-sizing: border-box;
    color: white;
    font-family: inherit;
    padding: 12px;
    width: 100%;
}

input::placeholder, textarea::placeholder {
    color: rgba(255,255,255,0.6);
}

textarea {
    height: 150px;
    resize: none;
}

.send-btn {
    align-items: center;
    background-color: #555;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    float:  right;
    gap: 10px;
    padding: 10px 30px;
}

.send-btn:hover {
    background-color: #444;
}

.stamp {
    align-items: center;
    border: 4px dotted white;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    height: 85px;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 70px;
}