body {
    background-color: #333;
}

header {
    display: flex;
    color: white;
    justify-content: end;
    margin: 0;
    mix-blend-mode: difference;
    padding: 20px;
}
nav > a {
    color: white;
}

main > section {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
}

main > section > button {
    background-color: gray;
    border-radius: 5px;
    color: white;
}

