body {
    background-color: #333;
}

header {
    display: flex;
    color: white;
    justify-content: end;
    margin: 0;
    mix-blend-mode: difference;
    padding: 20px;
}
nav > a {
    color: white;
}

main > section {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
}

main > section > button {
    background-color: gray;
    border-radius: 5px;
    color: white;
}





footer > div {
    background-color: #555;
    display: flex;
    justify-content: space-between;
    padding: 5px
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    flex-direction:row ;
}

footer > div > ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

