body {
    background-color: gainsboro;
}
header {
    display: flex;
    color: white;
    justify-content: end;
    margin: 0;
    mix-blend-mode: difference;
    padding: 20px;
}

nav > a {
    color: white;
}

article {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    
}

