@font-face {
    font-family: 'AdamDrawn';
    src: url(/fonts/adamfont-webfont.woff) format('woff');
}

body {
    background-color: gainsboro;
}

header {
    display: flex;
    color: white;
    justify-content: end;
    margin: 5px;
    padding: 20px 0;
}

.navegador>a {
    background-position: center -10%;
    background-repeat: no-repeat;
    transition: background-position 0.3s ease;
}

.navegador>a:hover {
    background-position: center 100%;
    transition: background-position 0.3s ease;
}

.nav-home {
    background-image: url(/img/nav/home.png);
    background-size: 30px 35px;
    padding: 0px 20px;
}

.nav-about {
    background-image: url(/img/nav/about.png);
    background-size: 35px 35px;
    padding: 0px 24px;
}

.nav-skills {
    background-image: url(/img/nav/skills.png);
    background-size: 36px 35px;
    padding: 0px 20px;
}

.nav-workplay {
    background-image: url(/img/nav/workplay.png);
    background-size: 73px 35px;
    padding: 0px 40px;
    position: relative;
}

.nav-workplay::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 20px;
    background-image: url(/img/nav/active-icon.png);
    background-size: cover 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-awards {
    background-image: url(/img/nav/awards.png);
    background-size: 48px 35px;
    padding: 0px 25px;
}

.nav-contact {
    background-image: url(/img/nav/contact.png);
    background-size: 49px 35px;
    padding: 0px 25px;
}

.navegador>span {
    background-image: url(/img/nav/separator.png);
    padding: 0px 6px;
    background-position: center 75%;
    background-repeat: no-repeat;
}


section>article {
    display: flex;

}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    max-width: 1500px;
    margin: 0 auto;
}


section>article {
    /* calc(20% - 15px) para aprox. 5 artículos por fila */
    flex: 0 1 calc(20% - 15px);

    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: transform 0.3s ease;
    /* Efecto suave al pasar el mouse */
}

section>article:hover {
    transform: translateY(-5px);
    /* Pequeña elevación al pasar el mouse */
}

section>article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
}

section>article h2 {
    font-size: 1rem;
    margin: 0 0 5px 0;
    color: #333;
    text-transform: uppercase;
}

section>article p {
    font-size: 0.8rem;
    color: #666;
    margin: 0;
}

footer>div {
    background-color: #555;
    display: flex;
    justify-content: space-between;
    padding: 5px
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    flex-direction: row;
}

footer>div>ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.footer-container {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    transition: background 0.3s ease;
}

.footer-copy {
    display: none;
}

.footer-copy.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 39%;
    top: 8px;
    color: #fff;
    font-family: 'AdamDrawn', sans-serif;
}

.adam-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/footer/adam.png);
    padding: 20px 18px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -20%;
    transition: background-position 0.3s ease;
    order: -1;
}

.adam-icon:hover {
    background-position: 0% 100%;
    transition: background-position 0.3s ease;
    cursor: pointer;
}

.info-icon {
    background-image: url(/img/footer/info.png);
    padding: 20px 18px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -20%;
    transition: background-position 0.3s ease;
    margin: auto 0;
}

.info-icon:hover {
    background-position: 0% 100%;
    transition: background-position 0.3s ease;
    cursor: pointer;
}

.info-icon.active {
    display: none;
}

#info {
    display: none;
}

#info.active {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    transition: all 0.3s ease;
}

.footer-container.active {
    display: flex;
    align-items: center;
    background-image: url(/img/footer/bg.png);
    height: 60px;
    transition: all 0.3s ease;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/footer/close.png);
    padding: 20px 18px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -20%;
    transition: background-position 0.3s ease;
}

.close-btn:hover {
    background-position: 0% 120%;
    transition: background-position 0.3s ease;
    cursor: pointer;
}

.email-btn,
.linkedin-btn,
.twitter-btn,
.facebook-btn,
.behance-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 18px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -20%;
    transition: background-position 0.3s ease;
}

.email-btn:hover,
.linkedin-btn:hover,
.twitter-btn:hover,
.facebook-btn:hover,
.behance-btn:hover {
    background-position: 0% 100%;
    transition: background-position 0.3s ease;
    cursor: pointer;
}

.email-btn {
    background-image: url(/img/footer/email.png);
}

.linkedin-btn {
    background-image: url(/img/footer/linked-in.png);
}

.twitter-btn {
    background-image: url(/img/footer/twitter.png);
}

.facebook-btn {
    background-image: url(/img/footer/facebook.png);
}

.behance-btn {
    background-image: url(/img/footer/behance.png);
}